body {
    background-color: #99F7AB;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 16px;
    background-color: #99f7aaa9;
}

h1 {
    padding: 8px 36px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    background-color: #2cb3ce;
    color: white;
    border-radius: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 16px 0;
    padding: 8px 0;
    font-weight: bold;
    text-decoration: overline;
    color: #000;
}

.nav-link {
    text-align: center;
}

.dropdown button {
    width: 158px;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 3px;
}

.dropdown ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.tab-content img {
    height: 600px;
}

section {
    padding-top: 70px;
}

.card {
    margin-bottom: 16px;
}

.card a {
    padding: 6px 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
}

